---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">My Favorite Work</h3>
<div class="entries-grid">
  {% assign work_posts = site.posts | where_exp: "p", "p.highlight_home == true" | where_exp: "p", "p.categories contains 'home'" %}
  {% for post in work_posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  {% if work_posts == empty %}
    <p>No favorite work posts found.</p>
  {% endif %}
  <div class="entries-pagination"></div>
  <div style="clear: both;"></div>
</div>

<h3 class="archive__subtitle">My Favorite Projects</h3>
<div class="entries-grid">
  {% assign dash_posts = site.posts | where_exp: "p", "p.highlight_home == true" | where_exp: "p", "p.categories contains 'dashboards'" %}
  {% for post in dash_posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  {% if dash_posts == empty %}
    <p>No favorite dashboard posts found.</p>
  {% endif %}
  <div style="clear: both;"></div>
</div>

<h3 class="archive__subtitle">My Favorite Artwork</h3>
<div class="entries-grid">
  {% assign art_posts = site.posts | where_exp: "p", "p.tags contains 'artwork'" | sort: 'date' | reverse | slice: 0, 6 %}
  {% for post in art_posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  {% if art_posts == empty %}
    <p>No favorite artwork posts found.</p>
  {% endif %}
  <div style="clear: both;"></div>
</div>

{% include paginator.html %}